<% if post.circle %>
  <div class="post-card circle-post">
    <div class="post-details mb-2">
      <div class="post-creator-details">
        <%= cl_image_tag(post.creator.photo.key, class: "avatar-left") %>
        <div class="username-posttype">
          <p class="bold-text"> <%= post.creator.username %> </p>
          <p class="small-text"> in <%=post.circle.name %> </p>
        </div>
      </div>

        <button class ="btn-scope-circle">
          <p> Circle </p>
          <%= cl_image_tag(post.circle.photo.key, class: "avatar-small-right") %>
        </button>

    </div>
    <% if post.songs.first.spotify_track_id %>
      <iframe style="border-radius:12px" src="<%="https://open.spotify.com/embed/track/#{post.songs.first.spotify_track_id}?utm_source=generator"%>" width="100%" height="382" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <% elsif post.songs.first.soundcloud_embed_url %>
      <iframe style="border-radius: 12px" width="100%" height="382" scrolling="no" frameborder="no" src="<%= post.songs.first.soundcloud_embed_url%>"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="<%= post.songs.first.soundcloud_url%>" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
    <% end %>
  </div>

<% elsif post.receiver %>
  <div class="post-card circle-post">
    <div class="post-details mb-2">
      <div class="post-creator-details">
        <%= cl_image_tag(post.creator.photo.key, class: "avatar-left") %>
        <div class="username-posttype">
          <p class="bold-text"> <%= post.creator.username %> </p>
          <p class="small-text"> for you </p>
        </div>
      </div>

        <button class ="btn-scope-1">
          <p> 1-on-1 </p>
        </button>

    </div>
    <% if post.songs.first.spotify_track_id %>
      <iframe style="border-radius:12px" src="<%="https://open.spotify.com/embed/track/#{post.songs.first.spotify_track_id}?utm_source=generator"%>" width="100%" height="382" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <% elsif post.songs.first.soundcloud_embed_url %>
      <iframe style="border-radius: 12px" width="100%" height="382" scrolling="no" frameborder="no" src="<%= post.songs.first.soundcloud_embed_url%>"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="<%= post.songs.first.soundcloud_url%>" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
    <% end %>
  </div>


<% else post.receiver %>
  <div class="post-card circle-post">
    <div class="post-details mb-2">
      <div class="post-creator-details">
        <%= cl_image_tag(post.creator.photo.key, class: "avatar-left") %>
        <div class="username-posttype">
          <p class="bold-text"> <%= post.creator.username %> </p>
          <p class="small-text"> public </p>
        </div>
      </div>

        <button class ="btn-scope-public">
          <p> Following </p>
        </button>

    </div>
    <% if post.songs.first.spotify_track_id %>
      <iframe style="border-radius:12px" src="<%="https://open.spotify.com/embed/track/#{post.songs.first.spotify_track_id}?utm_source=generator"%>" width="100%" height="382" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <% elsif post.songs.first.soundcloud_embed_url %>
      <iframe style="border-radius: 12px" width="100%" height="382" scrolling="no" frameborder="no" src="<%= post.songs.first.soundcloud_embed_url%>"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="<%= post.songs.first.soundcloud_url%>" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
    <% end %>
  </div>

<% end %>
